body {
	margin: 0;
	padding: 0;
}

#top-menu {
	list-style: none;
	display: block;
	background-color: #f0f0f0;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-size: 90%;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

#top-menu ul {
	margin: 0;
    padding: 0;
    font-size: 90%;
    line-height: 18px;
}

#top-menu li {
	display: inline;
	font-weight: bold;
    font-size: 90%;
    line-height: 18px;
}

#top-menu li a {
	text-decoration: none;
	color: black;
    cursor: pointer;
    font-size: 90%;
    line-height: 18px;
}

#header {
	position: relative;
	display: block;
	/*clear: both; */
	border-bottom: 1px solid #5f99cf;
    background-color: #cee3f8;
	margin: 0;
    padding: 0;
}

#my-subs-div{
	display: inline;
    position: relative;
	float: left;
    cursor: default;
    font-size: 90%;
    line-height: 18px;
    margin-left: -5px;
    margin-right: 10px;
    padding-left: 5px;
}

#my-subs{
	display: inline-block;
    vertical-align: bottom;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    color: black;
    
}

#logo {
	height: 40px;
    width: 120px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-right: 3px;
}

#logo-photo{
	width: 100%;
}

#bottom-menu {
    display: inline-block;
    margin-top: 5px;
    vertical-align: bottom;
}

#bottom-menu ul {
	list-style: none;
	margin: 0;
    padding: 0;
}

#bottom-menu li {
	float: left;
	display: inline;
    font-weight: bold;
    margin: 0px 3px;
}

#bottom-menu li a {
	text-decoration: none;
	list-style-type: none;
	padding: 2px 6px 0 6px;
    background-color: #eff7ff;
    color: #369;
    font-weight: bold;
}

#registration-suggest {
  	position: absolute;
    right: 0;
    bottom:0;
  	display: inline-block;
  	background-color: #EFF7FF;
    margin: 0;
    padding: 4px;
    line-height: 15px;
    border-top-left-radius: 7px;
}

#wanttojoin a {
    text-decoration: none;
    color: #369;    
}

#moreid{
    position: absolute;
	right: 0;
    top: 0;
}

#moreid a{
    text-decoration: none;
	font-weight: bold;
    margin: 3px;
    cursor: pointer;
	font-size: 90%;
    line-height: 18px;
    color: black;
}


#left-part {
	float: right;
    background-color: white;
    margin: 5px 5px 5px 3px;
    width: 300px;
    padding: 0;
    display: block
}

#search {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    margin-bottom: 5px;
}

#search input {
    border:1px solid grey;     
	width: 292px;
    height: 30px;
    margin: 0;
    padding-left: 8px; 
}

#login-form {
	width: 100%;
    margin: 0;
	padding: 0;
    margin-top: 10px;
    height: 70px;
    border:1px solid grey;     
}


#input-username-div-id {
    float: left;
}

#input-username-div-id input {
	border: 1px solid #999;
    width: 125px;
    margin: 5px 5px 5px 5px;
    top: 5px;
    padding: 6px;
}

#input-password-div-id {
    float: left;
}

#input-password-div-id input {
    border: 1px solid #999;
    width: 125px;
    margin: 5px 5px 5px 5px;
    top: 5px;
    padding: 6px;
}

#remember-me {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 80%;
}

#pas-reset {
    float: left;
    margin-left: 10px;
}

#pas-reset a {
    text-decoration: none;
    cursor: pointer;
    color: #369;
    font-size: 80%;
}

#login-id {
    position: relative;
    float: right;
    margin-right: 6px;
}

.submiter {
    position: relative;
    clear: both;
    text-align: center;
}

.submiter a {
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
    letter-spacing: -1px;
    color: #369;
}

#submit-link {
    margin-top: 8px;
}

#submit-post {
    margin-top: 6px;
}

.left-add {
    height: 200px;
    width: 300px;
    margin-top: 5px;
    margin-right: 5px;   
}

#ad1-photo {
    width: 100%;
    height: 100%;   
}

#ad2-photo {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

#daily-goal {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: -1px;
    color: #ff6600;
}

#main-part {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    width: 1000px;
    overflow: hidden;
    border-top: 1px solid grey;     
}


.info {
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.num {
    float: left;
    margin-right: 15px;
    height: 90px;
    text-align: center;
}

.num p {
    color: #c6c6c6;
}

.rating {
    float: left;
    margin-right: 10px;
}

.content-img {
    height: 80px;
    width: 80px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.content-img-photo {
    width: 100%;
    height: 70%;
}


.txt {
    float: left;
}

.content {
    float: left;
}
.content a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #0000ff;
    font-size: 65%;
}


