body {
	margin: 0;
	padding: 0;
}

#top-menu {
	list-style: none;
	display: block;
	background-color: #f0f0f0;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-size: 90%;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

#top-menu ul {
	margin: 0;
    padding: 0;
    font-size: 90%;
    line-height: 18px;
}

#top-menu li {
	display: inline;
	font-weight: bold;
    font-size: 90%;
    line-height: 18px;
}

#top-menu li a {
	text-decoration: none;
	color: black;
    cursor: pointer;
    font-size: 90%;
    line-height: 18px;
}

#header {
	position: relative;
	display: block;
	/*clear: both; */
	border-bottom: 1px solid #5f99cf;
    background-color: #cee3f8;
	margin: 0;
    padding: 0;
}

#my-subs-div{
	display: inline;
    position: relative;
	float: left;
    cursor: default;
    font-size: 90%;
    line-height: 18px;
    margin-left: -5px;
    margin-right: 10px;
    padding-left: 5px;
}

#my-subs{
	display: inline-block;
    vertical-align: bottom;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    color: black;
    
}

#logo {
	height: 40px;
    width: 120px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-right: 3px;
}

#logo-photo{
	width: 100%;
}

#bottom-menu {
    display: inline-block;
    margin-top: 5px;
    vertical-align: bottom;
}

#bottom-menu ul {
	list-style: none;
	margin: 0;
    padding: 0;
}

#bottom-menu li {
	float: left;
	display: inline;
    font-weight: bold;
    margin: 0px 3px;
}

#bottom-menu li a {
	text-decoration: none;
	list-style-type: none;
	padding: 2px 6px 0 6px;
    background-color: #eff7ff;
    color: #369;
    font-weight: bold;
}

#registration-suggest {
  	position: absolute;
    right: 0;
    bottom:0;
  	display: inline-block;
  	background-color: #EFF7FF;
    margin: 0;
    padding: 4px;
    line-height: 15px;
    border-top-left-radius: 7px;
}

#moreid{
    position: absolute;
	right: 0;
    top: 0;
    padding: 0 5px 0 15px;}

#moreid a{
    text-decoration: none;
	font-weight: bold;
    margin: 3px;
    cursor: pointer;
	font-size: 90%;
    line-height: 18px;
    color: black;
}

#left-part {
	float: right;
    background-color: white;
    margin: 5px 5px 5px 3px;
    width: 300px;
    padding: 0;
    display: block
}

#login-form {
	width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
}

#search input {
	width: 284px;
    top: 5px;
    padding: 6px;
    vertical-align: middle;
    margin: 0 8px 12px 0;
}

#login-form {
	margin: 0;
	padding: 0;
    height: 100px;
    border:1px solid grey;     
}


#input-username-div-id {
    float: left;
}

#input-username-div-id input {
	border: 1px solid #999;
    width: 125px;
    margin: 5px 5px 5px 5px;
    top: 5px;
    padding: 6px;
}

#input-password-div-id {
    float: left;
}

#input-password-div-id input {
    border: 1px solid #999;
    width: 125px;
    margin: 5px 5px 5px 5px;
    top: 5px;
    padding: 6px;
}

#remember-me {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 80%;
}

#pas-reset {
    float: left;
    margin-left: 10px;
}

#pas-reset a {
    text-decoration: none;
    cursor: pointer;
    color: #369;
    font-size: 80%;
}

#login-id {
    position: relative;
    float: right;
    margin-right: 5px;
}

.submitter {
    clear: both;
}

.left-add {
    height: 200px;
    width: 300px;
    margin-bottom: 3px;
    margin-top: 8px;
    margin-right: 8px;   
}

#ad1-photo {
    width: 100%;
    height: 100%;   
}

#ad2-photo {
    width: 100%;
    height: 100%;
}

#daily-goal {
    text-align: center;
}